* {
  margin: 0;
  padding: 0;
}

body {

}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background: #fff;
  border-bottom: 1px solid #555;
}

  #nav li {
    display: inline-block;
    margin: 0 10px;
  }

  #nav li a {
    color: #000;
    font-weight: bold;
  }
